{% extends 'CvCreatorBundle::layout_modal.html.twig' %}

{% block body %}
    <div class="alert alert-error"><h1>{% trans %}Es ist ein Fehler aufgetreten!{% endtrans %}</h1></div>
    {% if errors|length %}
        {% for error in errors %}
            <div class="alert alert-error">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        if (window.parent.$('.modal-body')) {
            window.parent.$('.modal-body').removeClass('modal-loading');
        }
    </script>
{% endblock %}