{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}
    <div class="row" ><br/>
        <div class="span3"></div>
        <div class="span9">
            <h1>{% trans %}Fehler 404 (Seite nicht gefunden)!{% endtrans %}</h1>
            <p></p> <br/><br/><br/>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="greyline">
            </div>
        </div>

        <div class="span12">
            <div class="alert alert-error">
                {% trans %}Es ist ein Fehler aufgetreten! <br/>Die von dir angeforderte Seite konnte auf dem Server leider nicht gefunden werden.{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}