{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}

    <div class="row" >

        <div class="span3"></div>
        <div class="span9">
            <h3>{% trans %}Melden Sie sich mit Ihrem Benutzerkonto an{% endtrans %}</h3>
            <p>{% trans %}Ein kostenloser Account bei uns bietet dir mehrere Vorteile.{% endtrans %}</p><br/>  <br/><br/>
        </div>
    </div>

    <div class="row">

        <div class="span12">
            <div class="greyline"><span class="bg-transparent">{% trans %}Login{% endtrans %}&nbsp;</span></div>
        </div>

        <form action="{{ path('_user_login_check') }}" method="post">

            {% if login_error is defined and login_error %}
                <div class="span12"><div class="alert alert-error">{{ login_error|trans }}</div></div>
            {% endif %}

            <!-- Box links -->
            <div class="span4">

                <div>
                    <label for="_username">Benutzername:</label>
                    <input type="text" id="_username" name="_username" required="required">
                </div>

                <div>
                    <label for="remember_me"> <input type="checkbox" name="_remember_me" id="remember_me" checked />
                        {% trans %} Login merken{% endtrans %}</label>
                </div>

            </div>

            <div class="span4">
                <div>
                    <label for="_password">Passwort:</label>
                    <input type="password" id="_password" name="_password" required="required">
                </div>

                <div>
                    <a href="javascript:void(0)" data-toggle="modal" role="button" onclick="$(this).openModal();"
                       url="{{ path('_reset_password') }}" data-modal-title="{% trans %}Passwort vergessen{% endtrans %}" data-width="500" data-height="400">
                        {% trans %}Passwort vergessen{% endtrans %}
                    </a>
                </div>

                <br />
                <button type="submit" class="btn btn-primary" >Login</button>


            </div>

            <!-- Box links -->
            <div class="span4" style="height:200px">
                <br/>
                <strong>{% trans %}Registrieren Sie sich jetzt und los geht's.{% endtrans %}</strong>
                <br /><br />
                <a href="{{ path('_user_sign') }}" class="btn btn-primary">{% trans %}Registrieren{% endtrans %}</a>
            </div>


        </form>
    </div>

    <div class="row"><br/></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cv/js/modal.js') }}"></script>
{% endblock %}