

{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}

    <div class="row" >

        <div class="span3"></div>
        <div class="span9">
            <h3>{% trans %}Passwort ändern{% endtrans %}</h3>
            <p>{% trans %}Senden Sie das Formular um das neue Passwort zu speichern.{% endtrans %}</p><br/>  <br/><br/>
        </div>
    </div>

    <div class="row">

        <div class="span12">
            <div class="greyline"><span class="bg-transparent">{% trans %}Neues Passwort{% endtrans %}&nbsp;</span></div>
        </div>

        <div class="span4" style="height:200px">


        </div>

        {% if status == "success" %}
            <div class="span8"><div class="alert alert-success">{% trans %}Ihr Passwort wurde erfolgreich gespeichert.{% endtrans %}</div></div>
        {% else %}

            <div class="span8">{{ form_errors(newPasswordForm) }}</div>

            <form action="{{ path('_new_password', { 'user_id': user_id, 'password_reset_code': password_reset_code }) }}" method="post">

                <div class="span8">
                    <div class="row-fluid">
                        {{ form_row(newPasswordForm.password) }}
                        {{ form_rest(newPasswordForm)  }}
                        <input type="submit" class="btn btn-primary" value="{% trans %}Speichern{% endtrans %}" />
                    </div>
                </div>
            </form>
        {% endif %}


    </div>

    <div class="row"><br/></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cv/js/modal.js') }}"></script>
{% endblock %}