{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}

    <div class="row" >

        <div class="span3"></div>
        <div class="span9">
            <h3>{% trans %}Profil-Einstellungen{% endtrans %}</h3>
            <p></p><br/>  <br/><br/>
        </div>
    </div>

    <div class="row">
        <div class="greyline span12"><span class="bg-transparent">{% trans %}Profil-Einstellungen anpassen{% endtrans %}&nbsp;</span></div>

        <div class="span12">

            <form action="{{ path('_user_profile') }}" method="post">

                {% if profileForm.get('errors') is not empty %}
                    <div class="row-fluid">
                        <div class="span4"></div>
                        <div class="span8">{{ form_errors(profileForm) }}</div>
                    </div>
                {% elseif status == 'profile_saved' %}
                    <div class="row-fluid">
                        <div class="span4"></div>
                        <div class="span8"><div class="alert alert-success">{% trans %}Die Daten wurden erfolgreich gespeichert{% endtrans %}</div></div>
                    </div>
                {% endif %}

                <div class="row-fluid">

                    <div class="span4">

                    </div>

                    <dv class="span4">
                        {{ form_row(profileForm.gender) }}
                        {{ form_row(profileForm.firstname) }}
                        {{ form_row(profileForm.lastname) }}
                    </dv>

                    <div class="span4">
                        {{ form_row(profileForm.birthday) }}
                        {{ form_row(profileForm.email) }}
                        {{ form_row(profileForm.username) }}

                        {{ form_rest(profileForm) }}
                        <button type="submit" class="btn btn-primary" >{% trans %}Speichern{% endtrans %}</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="greyline span12"><span class="bg-transparent">{% trans %}Passwort ändern{% endtrans %}&nbsp;</span></div>

        <div class="span12">

            <form action="{{ path('_user_change_password') }}" method="post">

                {% if changePasswordForm.get('errors') is not empty %}
                    <div class="row-fluid">
                        <div class="span4"></div>
                        <div class="span8">{{ form_errors(changePasswordForm) }}</div>
                    </div>
                {% elseif status == 'password_changed' %}
                    <div class="row-fluid">
                        <div class="span4"></div>
                        <div class="span8"><div class="alert alert-success">{% trans %}Das Passwort wurde erfolgreich geändert{% endtrans %}</div></div>
                    </div>
                {% endif %}

                <div class="row-fluid">
                    <div class="span4"></div>

                    <div class="span4">
                        {{ form_row(changePasswordForm.password) }}
                    </div>

                    <div class="span4">
                        {{ form_row(changePasswordForm.password_old) }}
                        {{ form_rest(changePasswordForm) }}
                        <button type="submit" class="btn btn-primary" id="changePasswordSaveButton">{% trans %}Speichern{% endtrans %}</button>
                    </div>
                </div>
            </form>

            <br/><br/>
        </div>


        <div class="greyline span12"><span class="bg-transparent">{% trans %}Konto löschen{% endtrans %}&nbsp;</span></div>

        <div class="span12">
             <div class="alert alert-warning"><h3>{% trans %}Achtung!{% endtrans %}</h3>
                 <p>{% trans %}Alle Daten werden unwiederruflich gelöscht.{% endtrans %}</p>
                 <a class="btn btn-primary pull-right" href="{{ path('_user_delete') }}" >{% trans %}Konto löschen{% endtrans %}</a>
                 <p class="clearfix"></p>
             </div>
             <br/><br/>
        </div>

    </div>

{% endblock %}