{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}
    <div class="row" ><br/>
        <div class="span3"></div>
        <div class="span9">
            <h1>{% trans %}Konto gelöscht{% endtrans %}</h1>
            <p>{% trans with {'%base_domain%' : base_domain} %}Sie haben sich entschieden ihr Konto bei %base_domain% zu löschen!{% endtrans %}</p> <br/>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="greyline">
                <span class="bg-transparent">{% trans %}Ihr Konto wurde erfolgreich gelöscht.{% endtrans %}</span>
            </div>
        </div>

        <div class="span12">
            <div class="alert alert-success">
                {% trans %}Alle ihre Daten und Einstellungen wurden gelöscht.{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}