Hallo {{ name }}
<br /><br/>{% trans %}Ihr Benutzername{% endtrans %}: {{ email }}
<br /><br/>{% trans %}Um die Registrierung abzuschliessen klicken Sie bitte auf folgendem Link:{% endtrans %}
 <a href="{{ url('_sign_confirm', { 'user_id': user_id, 'confirm_code': confirm_code }) }}">{{ url('_sign_confirm', { 'user_id': user_id, 'confirm_code': confirm_code }) }}</a>
<br />
<br />{% trans %}Freundliche Grüsse{% endtrans %}<br/>{% trans with {'%base_site_title%' : base_domain} %}Ihr %base_site_title% Team{% endtrans %}