{% trans %}Hallo{% endtrans %} {{ name }}

{% trans %}Ihr Benutzername{% endtrans %}: {{ email }}

{% trans %}Um die Registrierung abzuschliessen öffnen Sie bitte die folgende URL auf ihrem Browser: {% endtrans %} {{ url('_sign_confirm', { 'user_id': user_id, 'confirm_code': confirm_code }) }}

{% trans %}Freundliche Grüsse{% endtrans %}
{% trans with {'%base_site_title%' : base_domain} %}Ihr %base_site_title% Team{% endtrans %}