{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}

    <div class="row" >

        <div class="span3"></div>
        <div class="span9">
            <h3>{% trans %}Registrierung{% endtrans %}</h3>
            <p>{% trans %}Ein kostenloser Account bei uns bietet dir mehrere Vorteile.{% endtrans %}</p><br/>  <br/><br/>
        </div>
    </div>

    <div class="row">

        <!-- Box links -->
        <div class="span12">
           <div class="alert alert-success">{{ message }}</div>
        </div>
    </div>


{% endblock %}