{% extends 'CvCreatorBundle::layout_modal.html.twig' %}

{% block body %}

    <div class="span6" >
    <br/>
        {% if status == "success" %}
            <div class="alert alert-success">{% trans %}Ihr Passwortanfrage wurde gesendet. Bitte überprüfen Sie ihr E-Mail-Postfach.{% endtrans %}</div>
        {% elseif status == "error"  %}
            <div class="alert alert-error">{% trans %}Ein Fehler ist aufgetretten! Bitte versuchen Sie es noch einmal.{% endtrans %}</div>
        {% elseif status == "not_found" %}
            <div class="alert alert-error">{% trans %}Es wurde kein Benutzer mit dieser E-Mail-Adresse gefunden!{% endtrans %}</div>
        {% else %}
            <form action="{{ path('_reset_password') }}" method="post">

                <div class="row-fluid">

                    {{ form_errors(resetForm) }}

                    {{ form_label(resetForm.email) }}
                    {{ form_widget(resetForm.email) }}

                    {{ form_row(resetForm.recaptcha) }}

                    {{ form_rest(resetForm)  }}

                    <p class="clearfix"></p><br/>

                    <input type="submit" class="btn btn-primary" value="{% trans %}Neues Passwort anfordern{% endtrans %}" style="margin-top: -10px;" />

                </div>
            </form>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        if (window.parent.$('.modal-body')) {
            window.parent.$('.modal-body').removeClass('modal-loading');
        }
    </script>
{% endblock %}