{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}

    <div class="row" >

        <div class="span3"></div>
        <div class="span9">
            <h3>{% trans %}Registrieren Sie ein neues Benutzerkonto{% endtrans %}</h3>
            <p>{% trans %}Ein kostenloser Account bei uns bietet dir mehrere Vorteile.{% endtrans %}</p><br/>  <br/><br/>
        </div>
    </div>

    <div class="row">

        <div class="span12">
            <div class="greyline"><span class="bg-transparent">{% trans %}Registrieren{% endtrans %}&nbsp;</span></div>
        </div>

    </div>

    <div class="row">

        <div class="span12">
            {{ form_errors(signForm) }}
        </div>

    </div>

    <form action="{{ path('_user_sign') }}" method="post" {{ form_enctype(signForm) }}>

        <div class="row">

            <div class="span4">
                {{ form_row(signForm.gender) }}
                {{ form_row(signForm.firstname) }}
                {{ form_row(signForm.lastname) }}
            </div>

            <div class="span8">
                {{ form_row(signForm.email) }}
                {{ form_row(signForm.password) }}

                {#{{ form_row(signForm.recaptcha) }}#}
                <br/>

                <label>
                {{ form_widget(signForm.terms_and_conditions) }}
                {{ 'Ich habe die <a href="%terms_file%" target="_blank">Nutzungsbedienungen</a> gelesen und bin damit einverstanden'|trans({'%terms_file%':
                asset('bundles/cv/terms_and_conditions.pdf')})|raw }}

                {{ form_rest(signForm) }}
                </label>
                <br/>
                <input type="submit" class="btn btn-primary" value="{% trans %}Registrieren{% endtrans %}"/>
            </div>

        </div>

    </form>


    <div class="row"><br/></div>
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/cv/js/modal.js') }}"></script>
    {% endblock %}

{% endblock %}