{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}

    <div class="row" >

        <div class="span3"></div>
        <div class="span9">
            <h3>{% trans %}Registrierung abgeschlossen{% endtrans %}</h3>
            <p></p><br/>  <br/><br/>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="greyline"><span class="bg-transparent">{% trans %}Registrierung{% endtrans %}&nbsp;</span></div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="alert alert-success">{% trans %}Sie haben Sich erfolgreich registriert.{% endtrans %}</div>
            <a class="btn btn-primary pull-right" href="{{ path('_user_login') }}">
                {% trans %}Hier geht es zum Login{% endtrans %}
            </a>
            <p class="clearfix"></p>
            <br/><br/>
        </div>
    </div>

{% endblock %}