<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>

    {% if section.items|length %}
        <table class="table-3col">
            {% for item in section.items %}
                <tr>
                    <td></td>
                    <td><span style="font-weight:bold">{{ item.title }}</span></td>
                    <td><span style="font-weight:bold">{{ item.description }}</span></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>