<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>

    {% if section.items|length %}
    <table class="table-3col">
        {% for item in section.items %}
            <tr>
                <td></td>
                <td>
                    <span style="font-weight:bold">{{ item.title }}</span><br/>
                    <span style="color:#818181">{{ item.school }}</span>
                </td>
                <td>
                    <span style="font-weight:bold">
                        {{ item.dateFrom|date('m.Y') }} - {% if not item.dateTo %}{% trans %}heute{% endtrans %}{% else %}{{ item.dateTo|date('m.Y') }}{% endif %}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
