<div class="section">
    <div class="section-head">
        <p style="font-size:22pt;" >{% trans %}Lebenslauf{% endtrans %}</p>
    </div>
</div>

{% if section.items|length %}
    {% for item in section.items %}
        <div class="cv-head" style="min-height:150px">
            <p style="font-family:'Times New Roman', Times, serif; font-size:14pt; font-weight:bold">
                <strong>{{ item.firstname }} {{ item.lastname }}</strong></p>
            <p style="color:#000000; font-family:Calibri; font-size:11pt; margin:0px;">
                {{ item.address }}<br/>
                {{ item.zip }} {{ item.city }}<br/>
                {{ item.country }}
            </p>

            <p style="color:#000000; font-family:Calibri; font-size:11pt; margin:0px;"  >
                {% if item.phone %}{% trans %}Telefon{% endtrans %}: {{ item.phone }} <br/>{% endif %}
                {% if item.fax %}{% trans %}Fax{% endtrans %}: {{ item.fax }} <br/>{% endif %}
                {% if item.email %}{% trans %}E-Mail{% endtrans %}: <a href="mailto:{{ item.email }}"><span >{{ item.email }}</span></a><br/>{% endif %}
                {% if item.web %}{% trans %}Web{% endtrans %}: <a href="{{ item.web }}"><span >{{ item.web }}</span></a>{% endif %}
            </p>

            <p style="color:#000000; font-family:Calibri; font-size:11pt; margin:0px;">

                {% if item.birthday %}{% trans %}<br/>Geburtsdatum{% endtrans %}: {{ item.birthday|date('d.m.Y') }}{% endif %}
                {% if item.secondNationality %}<br/>{% trans %}Zweite Nationalität{% endtrans %}: {{ item.secondNationality }}{% endif %}
                {% if item.martialStatus %}<br/>{% trans %}Zivilstand{% endtrans %}: {{ section.form.martialStatusOptions[item.martialStatus]|trans }}{% endif %}
                {% if item.driverLicense %}<br/>{% trans %}Führerschein{% endtrans %}:
                        {% set separator = '' %}
                        {% for driverLicenseValue in item.driverLicense %}
                            {{ separator }}{{ section.form.driverLicenseOptions[driverLicenseValue]|trans }}
                            {% set separator = ', ' %}
                        {% endfor %}
                {% endif %}
                {% if item.noticePeriod %}<br/>{% trans %}Kündigungsfrist{% endtrans %}: {{ item.noticePeriod }}{% endif %}
                {% if item.hobbies %}<br/>{% trans %}Hobbys{% endtrans %}: {{ item.hobbies }}{% endif %}
            </p>
        </div>

        {% if item.passphoto is not empty and item.passphoto.uploadName is not empty %}
            <div style="position:absolute; left:12.5cm; top: 2cm; ">
                <img src="{{ item.passphoto.absolutepath }}" alt="Pass photo" width="100" height="150" />
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
