<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>

    {% if section.items|length %}
    <table class="table-2col">
        {% for item in section.items %}
            <tr>
                <td></td>
                <td><p><span style="font-weight:bold; color:#000000;">{{ item.name }}</span></p>
                    {% if item.company %}<p><span style="color:#818181;">{{ item.company }}</span></p>{% endif %}
                    {% if item.contactData %}<p><span style="color:#818181;">{{ item.contactData }}</span></p>{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>