<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>

    {% if section.items|length %}
    <table class="table-3col">
        {% for item in section.items %}
            <tr>
                <td></td>
                <td>
                    <span style="font-weight:bold">{{ item.profession }}</span>
                    {% if item.employment is not empty %}<span style="color:#818181"> ({{ section.form.employments[item.employment]|trans }})</span><br/>{% endif %}
                    {% if item.company is not empty %}<span style="color:#818181">{% trans %}Firma{% endtrans %}: {{ item.company }}</span><br/>{% endif %}
                    {% if item.activities is not empty %}<span style="color:#818181">{% trans %}Aktivitäten{% endtrans %}: {{ item.activities }}</span>{% endif %}
                </td>
                <td><span style="font-weight:bold">{{ item.dateFrom|date('m.Y') }} - {% if item.stillWorking %}heute{% else %}{{ item.dateTo|date('m.Y') }}{% endif %}</span></td></tr>
        {% endfor %}
    </table>
    {% endif %}
</div>