<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ base_site_title }}</title>
        <meta http-equiv="Content-Language" content="de" >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
        <meta name="keywords" content="{{ base_meta_keywords }}" >
        <meta name="description" content="{{ base_meta_description }}" >
        {#<meta name="viewport" content="width=device-width, initial-scale=0.8">#}
        
        {#<link rel="stylesheet" href="{{ asset('bundles/cv/css/reset.css') }}" />#}
        <link rel="stylesheet" href="{{ asset('bundles/cv/bootstrap/css/bootstrap.min.css') }}" />
        {#<link rel="stylesheet" href="{{ asset('bundles/cv/bootstrap/css/bootstrap-responsive.min.css') }}" />#}

        <link rel="stylesheet" href="{{ asset('bundles/cv/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/cv/css/form.css') }}" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Gudea" media="screen" type="text/css" >

        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('favicon-32.png') }}"><!-- Major Browsers -->
        <!--[if IE]><link rel="SHORTCUT ICON" href="{{ asset('favicon.ico') }}"/><![endif]-->

        <link rel="apple-touch-icon" href="{{ asset('bundles/cv/images/touch-icon-iphone.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/cv/images/touch-icon-ipad.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/cv/images/touch-icon-iphone4.png') }}" />
    </head>
    <body>

    <div id="head-navi-background" class="block">
        <div class="container">
            <header id="header">
                <div class="row">

                    <div id="logo" class="span3">
                        <div id="site-logo" onclick="document.location.href = '{{ url('_home') }}'">
                            <span class="logo-beta-text">{{ base_site_logo_beta_text }}</span>
                            <span class="logo-text">{{ base_site_logo_text }}</span>
                        </div>

                    </div>
                    <div id="menubar" class="span9">
                        <nav id="menu">
                            <ul class="menu">
                                {#<li class="menu-level1"><a href="{{ path('_home') }}" class="home">{% trans %}Home{% endtrans %}</a></li>#}
                                {#<li class="menu-level1"><a href="{{ path('_help') }}" class="help">{% trans %}Hilfe{% endtrans %}</a></li>#}

                                <li class="menu-level1{% if app.request.attributes.get('_route') == '_cv_create' %} active{% endif %}">
                                    <a href="{{ path('_cv_create') }}">
                                        <i class="icon-folder-open icon-white"></i>
                                        {% trans %}CV{% endtrans %}
                                    </a>
                                </li>

                                {% if is_granted("ROLE_USER")  %}
                                    <li class="menu-level1{% if app.request.attributes.get('_route') == '_user_profile' %} active{% endif %}">
                                        <a href="{{ path('_user_profile') }}">
                                            <i class="icon-wrench icon-white"></i>
                                            {% trans %}Profile{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="menu-level1{% if app.request.attributes.get('_route') == '_user_logout' %} active{% endif %}">
                                        <a href="{{ path('_user_logout') }}">
                                            <i class="icon-user icon-white"></i>
                                            {% trans %}Abmelden{% endtrans %}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="menu-level1{% if app.request.attributes.get('_route') == '_user_login' %} active{% endif %}">
                                        <a href="{{ path('_user_login') }}">
                                            <i class="icon-user icon-white"></i>
                                            {% trans %}Login{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="menu-level1{% if app.request.attributes.get('_route') == '_user_sign' %} active{% endif %}">
                                        <a href="{{ path('_user_sign') }}">
                                            <i class="icon-user icon-white"></i>
                                            {% trans %}Registrieren{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                        </nav>
                    </div>

                </div>
            </header>
        </div>
    </div>

    <div class="container">



        {% block body %}{% endblock %}

        <div class="row">
            <div class="span12">
                <footer id="footer" class="block">
                    <p style="float:left">{% trans %}Copyright{% endtrans %} &copy; {{ "now"|date("Y") }}
                        <span style='color:#bfbfbf'>{{ base_site_title }}</span>{% trans %}. All Rights reserved.{% endtrans %}</p>
                    <p style="float:right">
                        <a href="http://www.facebook.com/cv-creator" target="_blank"><img src="{{ asset('bundles/cv/images/facebook.png') }}" /></a>
                        <a href="https://plus.google.com/u/0/102720496257880491775" target="_blank"><img src="{{ asset('bundles/cv/images/google.png') }}" /></a>
                        <a href="http://www.twitter.com/cv_creator" target="_blank"><img src="{{ asset('bundles/cv/images/twiter.png') }}" /></a>
                        <a href="{{ path('_disclaimer') }}">{% trans %}Impressum{% endtrans %}</a>
                        <a href="{{ path('_contact') }}">{% trans %}Kontakt{% endtrans %}</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>
    <div id="ajaxloader-container" style="display:none;"><div class="ajaxloader"></div></div>

        {% block javascripts %}
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/cv/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}

    </body>
</html>
