<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ base_site_title }}}</title>
    <meta http-equiv="Content-Language" content="de" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="keywords" content="{{ base_meta_keywords }}" >

    {#<link rel="stylesheet" href="{{ asset('bundles/cv/css/reset.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('bundles/cv/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/cv/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/cv/css/form.css') }}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Gudea" media="screen" type="text/css" >

    {% block meta %}{% endblock %}
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <div class="container layout-modal-container">

        {% block body %}

        {% endblock %}
    </div>

    <div id="loader" class="loader"></div>

    {% block javascripts %}

        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/cv/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cv/js/cv.js') }}"></script>
        {#<script type="text/javascript" src="{{ asset('bundles/cv/js/modal.js') }}"></script>#}
        <script>
            $(document).ready(function(){
                $("body").bind("ajaxSend", function() {
                    $(document.body).addClass('loading');
                }).bind("ajaxStop", function() {
                            $(document.body).removeClass('loading');
                }).bind("ajaxError", function() {
                    $(document.body).removeClass('loading');
                });
            });

        </script>
    {% endblock %}

</body>
</html>
