<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xml" href="{{ asset('bundles/cv/xsl/xhtml2fo-standard.xsl') }}"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
    <title>{{ base_site_title }}</title>
    <meta http-equiv="Content-Language" content="de" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>{% block body %}{% endblock %}</div>
{% block javascripts %}{% endblock %}
</body>
</html>
