{% extends 'CvCreatorBundle:Cv:Preview/Standard/section_part.html.twig' %}

{% block item %}

    {{ item.dateFrom|date('d.m.Y') }} {{ item.dateTo|date('d.m.Y') }}  <br />
    {{ item.title }} <br />
    {{ item.level }} <br />
    {{ item.school }} <br />

{% endblock %}