{% extends 'CvCreatorBundle::layout_preview.html.twig' %}

{% block body %}
    <div>
        {% for section in sections %}
            {% include "CvCreatorBundle:Cv:Preview/Standard/section_head.html.twig" with { form: section.formView } %}
            {% include "CvCreatorBundle:Cv:Preview/Standard/section.html.twig" with { form: section.formView } %}
        {% endfor %}
    </div>
{% endblock %}
