{% extends 'CvCreatorBundle:Cv:Preview/Standard/section_part.html.twig' %}

{% block item %}

    {{ item.firstname }} {{ item.lastname }}
    {% if item.birthday %}, geboren {{ item.birthday|date('d.m.Y') }}  <br /> {% endif %}
    {% if item.address %} {{ item.address }} <br /> {% endif %}
    {% if item.zip %}{{ item.zip }} {{ item.city }}, {{ item.country }}  <br />   {% endif %}
    {% if item.phone %}{{ item.phone }}   <br />  {% endif %}
    {% if item.mobile %} {{ item.mobile }}, {{ item.fax }} <br />  {% endif %}
    {% if item.web %}{{ item.web }}  <br />  {% endif %}
    {% if item.addcontactdata %} {{ item.addcontactdata }}   <br />  {% endif %}
    {% if item.email %} {{ item.email }} <br />  {% endif %}

{% endblock %}