<div>
{% if section.items|length %}
    {% for item in section.items %}
        {% include "CvCreatorBundle:Cv:Preview/Standard/" ~ section.formName ~ ".html.twig" with { section: section } %}
    {% endfor %}
{% endif %}
</div>
