{% extends 'CvCreatorBundle:Cv:Preview/Standard/section_part.html.twig' %}

{% block item %}

    {{ item.dateFrom|date('d.m.Y') }} - {{ item.dateTo|date('d.m.Y') }} <br/>
    {{ item.stillWorking }}, {{ item.profession }} <br/>
    {{ item.employment }}, {{ item.company }}
    {{ item.activities }}

{% endblock %}