<div class="section">
    {% if section.items|length %}
        {% for item in section.items %}
            <div class="one-image-per-page">
                <img src="{{ item.absolutepath }}" alt="{{ section.form.attachmentTypes[item.type]|trans }}" width="100%" height="100%" />
            </div>
        {% endfor %}
    {% endif %}
</div>
