<div class="section">
    <div class="section-head">
        <p style="font-size:22pt;" >{% trans %}Lebenslauf{% endtrans %}</p>
    </div>
</div>

{% if section.items|length %}
    {% for item in section.items %}

        {% if item.passphoto is not empty and item.passphoto.uploadName is not empty %}
            <div style="position:absolute; left:12cm; top:2cm;">
                <img src="{{ item.passphoto.absolutepath }}" alt="Pass photo" width="100" height="150"/>
            </div>
        {% endif %}

        <div class="cv-head">

            <table class="table-3col">
                <tr><td></td><td><p style="font-family:'Helvetica '; font-size: 18pt; ">{{ item.firstname }} {{ item.lastname }}</p></td><td></td></tr>
                {% if item.address %}<tr><td></td><td><p>{{ item.address }}</p></td></tr>{% endif %}
                {% if item.zip %}<tr><td></td><td><p style="font-weight:normal;">{{ item.zip }} {{ item.city }}, {{ item.country }}</p></td><td></td></tr>{% endif %}
                {% if item.phone %}<tr><td></td><td><p style="font-weight: bold;">{% trans %}Tel.{% endtrans %}: {{ item.phone }}</p></td><td></td></tr>{% endif %}
                {% if item.fax %}<tr><td></td><td><p style="font-weight: bold;">{% trans %}Fax{% endtrans %}: {{ item.fax }}</p></td><td></td></tr>{% endif %}
                {% if item.mobile %}<tr><td></td><td><p style="font-weight: bold;">{% trans %}Mobile{% endtrans %}: {{ item.mobile }}</p></td><td></td></tr>{% endif %}
                {% if item.email %}<tr><td></td><td><p style="font-weight:normal;"><a href="mailto:{{ item.email }}">{{ item.email }}</a></p></td><td></td></tr>{% endif %}
                {% if item.web %}<tr><td></td><td><p style="font-weight:normal;"><a href="{{ item.web }}">{{ item.web }}</a></p></td></tr>{% endif %}
                {% if item.addcontactdata %}<tr><td></td><td><p style="font-weight:normal;">{{ item.addcontactdata }}</p></td><td></td></tr>{% endif %}
            </table>
        </div>

        <div class="section">
            <div class="section-head">
                <p class="section-head-title">{{ section.title }}</p>
            </div>
            <table class="table-2col">
                {% if item.birthday %}<tr><td>{% trans %}Geburtsdatum{% endtrans %}:</td><td>{{ item.birthday|date('d.m.Y') }}</td></tr>{% endif %}
                {% if item.nationality %}<tr><td>{% trans %}Nationalität{% endtrans %}:</td><td>{{ item.nationality }}</td></tr>{% endif %}
                {% if item.secondNationality %}<tr><td>{% trans %}Zweite Nationalität{% endtrans %}: </td><td>{{ item.secondNationality }}</td></tr>{% endif %}
                {% if item.martialStatus %}<tr><td>{% trans %}Zivilstand{% endtrans %}: </td><td>{{ section.form.martialStatusOptions[item.martialStatus]|trans }}</td></tr>{% endif %}
                {% if item.driverLicense %}<tr>
                    <td>{% trans %}Führerschein{% endtrans %}:</td>
                    <td>
                    {% set separator = '' %}
                    {% for driverLicenseValue in item.driverLicense %}
                        {{ separator }}{{ section.form.driverLicenseOptions[driverLicenseValue]|trans }}
                        {% set separator = ', ' %}
                    {% endfor %}
                    </td>
                    </tr>
                {% endif %}
                {% if item.noticePeriod %}<tr><td>{% trans %}Kündigungsfrist{% endtrans %}: </td><td>{{ item.noticePeriod }}</td></tr>{% endif %}
                {% if item.hobbies %}<tr><td>{% trans %}Hobbys{% endtrans %}: </td><td>{{ item.hobbies }}</td></tr>{% endif %}
                <tr><td> </td><td> </td></tr>
            </table>
        </div>
    {% endfor %}
{% endif %}
