<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>

    {% if section.items|length %}
    <table class="table-2col">
        {% for item in section.items %}
            <tr>
                <td>{{ item.dateFrom|date('m.Y') }} - {% if item.stillWorking %}heute{% else %}{{ item.dateTo|date('m.Y') }}{% endif %}</td>
                <td>
                    <p>{{ item.profession }}{% if item.employment is not empty %} ({{ section.form.employments[item.employment]|trans }}){% endif %}</p>
                    {% if item.company is not empty %}<b>{% trans %}Firma{% endtrans %}: {{ item.company }}</b>{% endif %}
                    {% if item.activities is not empty %}<p>{% trans %}Aktivitäten{% endtrans %}: {{ item.activities }}</p>{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>