<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>

    {% if section.items|length %}
    <table class="table-2col">
        {% for item in section.items %}
            <tr>
                <td>{{ item.skill }}</td>
                <td>{{ section.form.ratings[item.rating]|trans }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>