{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="span3"></div>
        <div class="span9">
        <h1>{% trans %}Kontakt{% endtrans %}</h1>
        <p>{% trans %}Füllen Sie das Formular aus um uns zu kontaktieren.{% endtrans %}</p><br/><br/>
        </div>
    </div>



    <div class="row">
        <div class="span12">
            <div class="greyline"></div>
        </div>
    </div>

    {% if sendResult %}
        <div class="row">
            <div class="span4">

            </div>

            <div class="span8">
                <div class="alert alert-success">{% trans %}Das Kontaktformular wurde erfolgreich gesendet.{% endtrans %}</div>
            </div>
        </div>
    {% else %}
        <form action="{{ path('_contact') }}" method="post">
            <div class="row">

                <div class="span6">
                    {{ form_row(form.message) }}
                </div>

                <!-- Box links -->
                <div class="span6">

                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}

                    {{ form_row(form.recaptcha) }}

                    {{ form_rest(form) }}
                    <br />
                    <button type="submit" class="btn btn-primary" >Senden</button>
                </div>

                <p class="clearfix"></p><br/><br/>
            </div>
        </form>
    {% endif %}
{% endblock %}
