{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}
<div class="row" >
    <div class="span3"></div>
    <div class="span9">
        <h1>{% trans %}Impressum{% endtrans %}</h1>
        <p>{{ base_site_title }} {% trans %}Impressum{% endtrans %}</p><br/><br/><br/>
    </div>
</div>

<div class="row">
    <div class="span12">

        <div class="greyline">
            <span class="bg-transparent">{% trans %}Über uns{% endtrans %}</span>
        </div>
        <p>
        {% trans %}Wir sind eine Online-Plattform für die Erstellung vom Lebenslauf und möchten unseren Usern an
        erster Stelle den Einstieg in die Berufswelt erleichtern. Der Lebenslauf ist das Kernstück jeder Bewerbung.
        Jedem die gleiche Chance und Möglichkeit für einen qualitativ hochwertigen und professionellen Curriculum
        Vitae (CV) zu verschaffen ist unsere höchste Priorität!{% endtrans %}
        </p>

        <div class="greyline">
            <span class="bg-transparent">{% trans %}Kontaktadresse{% endtrans %}</span>
        </div>
        <p>Burim Muqa</p>
        <p>Chropfacher 6</p>
        <p>8603 Schwerzenbach (Schweiz)</p>
        <p>E-Mail: info<script type="text/javascript">
            document.write("@");
            // nospam@mysite.xx;
        </script>{{ base_domain }}</p>
        <p>&nbsp;</p>

        <div class="greyline">
            <span class="bg-transparent">{% trans %}Haftungsausschluss{% endtrans %}</span>
        </div>
        <h2></h2>
        <p>{% trans %}Der Autor übernimmt keinerlei Gewähr hinsichtlich der  inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und  Vollständigkeit der Informationen.{% endtrans %}</p>
        <p>{% trans %}Haftungsansprüche gegen den Autor wegen Schäden materieller  oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.  Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der  Verbindung oder durch technische Störungen entstanden sind, werden  ausgeschlossen.{% endtrans %}</p>
        <p>{% trans %}Alle  Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile  der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern,  zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig  einzustellen.{% endtrans %}</p>
        <p>&nbsp;</p>

        <div class="greyline">
            <span class="bg-transparent">{% trans %}Haftung für Links{% endtrans %}</span>
        </div>
        <p>{% trans %}Verweise und Links auf Webseiten  Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten  abgelehnt.  Der Zugriff und die Nutzung solcher Webseiten erfolgen  auf eigene Gefahr des Nutzers oder der Nutzerin. {% endtrans %}</p>
        <p>&nbsp;</p>

        <div class="greyline">
            <span class="bg-transparent">{% trans %}Urheberrechte{% endtrans %}</span>
        </div>
        <h2></h2>
        <p>{% trans %}Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich <strong>Burim Muqa</strong> oder den speziell genannten  Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.{% endtrans %}</p>
        <p>&nbsp;</p>

        <div class="greyline">
            <span class="bg-transparent">{% trans %}Datenschutz{% endtrans %}</span>
        </div>
        <p>{% trans %}Gestützt auf Artikel 13 der schweizerischen Bundesverfassung  und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG)  hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor  Missbrauch ihrer persönlichen Daten. Wir halten diese Bestimmungen ein.  Persönliche Daten werden streng vertraulich behandelt und weder an Dritte  verkauft noch weiter gegeben.{% endtrans %}</p>
        <p>{% trans %}In enger Zusammenarbeit mit unseren Hosting-Providern  bemühen wir uns, die Datenbanken so gut wie möglich vor fremden Zugriffen, Verlusten,  Missbrauch oder vor Fälschung zu schützen.{% endtrans %}</p>
        <p>{% trans %}Beim Zugriff auf unsere Webseiten werden folgende Daten in  Logfiles gespeichert: IP-Adresse, Datum, Uhrzeit, Browser-Anfrage und allg.  übertragene Informationen zum Betriebssystem resp. Browser. Diese Nutzungsdaten  bilden die Basis für statistische, anonyme Auswertungen, so dass Trends  erkennbar sind, anhand derer wir unsere Angebote entsprechend verbessern  können. {% endtrans %}</p>

    </div>
</div>
{% endblock %}