{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}
    <div class="row" ><br/>
        <div class="span3"></div>
        <div class="span9">
            <h1>{% trans %}Fehler!{% endtrans %}</h1>
            <p></p> <br/><br/><br/>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="greyline">
            </div>
        </div>

        <div class="span12">
            {% if errorMessage %}
            <div class="alert alert-error">
                {{ errorMessage }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}