{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}
<div class="row" ><br/>
    <div class="span3"></div>
    <div class="span9">
        <h1>{{ base_site_title }} {% trans %}Hilfe{% endtrans %}</h1>
        <p>{% trans %}Informationen rund um die Funktionen und Möglichkeiten von {% endtrans %}{{ base_site_title }}.</p> <br/>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="greyline">
            <span class="bg-transparent">{% trans %}Info{% endtrans %}</span>
        </div>
        <p>
            {% trans %}Erfassen Sie professionell Ihren Lebenslauf. Lassen Sie sich einfach durch das System f&uumlhren und
            erfassen Sie so Schritt f&uumlr Schritt alle relevanten Informationen eines professionellen Lebenslaufs.
            Um einmalig einen Lebenslauf zu erstellen, m&uumlssen Sie nicht registriert sein.{% endtrans %}
        </p>

        <p>
            {% trans %}Ein erstellter Lebenslauf kann jederzeit exportiert werden.
            Laden Sie die erfassten Daten einfach im PDF- oder Word-Format auf Ihren privaten PC.{% endtrans %}
        </p>

        <p>
            {% trans %}Wenn Sie einen Lebenslauf speichern m&oumlchten, um zu einem sp&aumlteren Zeitpunkt wieder auf
            die Daten zugreifen zu k&oumlnnen, m&uumlssen Sie sich registrieren und damit einen pers&oumlnlichen
            Account er&oumlffnen. Haben Sie bereits einen solchen Account und sind Sie bereits eingeloggt, werden
            Ihre Daten jeweils automatisch gespeichert.{% endtrans %}
        </p>
    </div>
</div>
{% endblock %}