{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block title %}{{ base_site_title }} Index{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/cv/css/slidedeck.skin.css') }}" />
{% endblock %}


{% block body %}

<div class="row">
    <div class="span3"></div>
    <div class="span9"><h1>Einfach, praktisch und kostenlos.</h1>
        <p>{% trans with {'%base_site_title%' : base_site_title} %}Hier können Sie Ihr persönliches
            CV (Lebenslauf) in unterschiedliche Gestaltung und Formate erstellen,
            jederzeit und von überall herunterladen oder direkt als Bewerbung versenden.{% endtrans %}</p></div>
</div>


<div class="row">
    <div class="span12">
        {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}



        <div id="accordionContainer">
            <div id="accordion">
                <dl>
                    <dt>{% trans %}Ihre Vorteile{% endtrans %}</dt>
                    <dd><ul>
                            <li>{% trans %}Professionelle Designs{% endtrans %}</li>
                            <li>{% trans %}Einfach, schnell und intuitiv!{% endtrans %}</li>
                            <li>{% trans %}Eigenes passwortgeschütztes Konto{% endtrans %}</li>
                            <li>{% trans %}Herunterladen des CV's in PDF oder RTF Format{% endtrans %}</li>
                            <li>{% trans %}Bewerbungen direkt verschicken.{% endtrans %}</li>
                        </ul>
                    </dd>
                    <dt>{% trans %}Vorgehensschritte{% endtrans %}</dt>
                    <dd>{% trans %}Konto erstellen, aktivieren, einloggen und los geht's!{% endtrans %}</dd>

                    <dt>{% trans %}CV-Design{% endtrans %}</dt>
                    <dd>{% trans %}Wählen Sie Ihr Lieblingsdesign, ohne den ganzen Text anpassen zu müssen.
                        Sie möchten Ihr CV-Design stilistischer gestalten? Schnell und flexibel reagieren wir auf Ihre
                        persönlichen Wünsche und Ideen.{% endtrans %}</dd>
                    <dt>{% trans %}Über uns{% endtrans %}</dt>
                    <dd>{% trans %}Unsere Entwickler bringen mehrjährige Erfahrung in den Bereichen Entwicklung & Personalwesen mit.
                        Mit modernste Technologien versuchen wir einfache und mächtige Werkzeuge zu Entwicklen mit dem Ziel
                        die Chancen der Jobsuchenden zu vergrössern.{% endtrans %}</dd>
                </dl>
            </div>
        </div>
        <div class="greyline"></div>
    </div>

</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/cv/js/jquery-mousewheel/jquery.mousewheel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cv/js/slidedeck.jquery.lite.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cv/js/jquery.easyAccordion.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#accordion').easyAccordion({
                autoStart: true,
                slideInterval: 3000
            });
        });
    </script>

{% endblock %}
