
{% extends 'CvCreatorBundle::layout_modal.html.twig' %}
{% block body %}

    {% if success and message %}
        <div class="span12">
            <br /><br /><br />
            <div class="alert alert-success">{{ message }}</div>
        </div>
    {% else %}
        <div class="span12">
            <div class="row-fluid">
                <div class="span6">
                    <form action="{{ path('_cv_application', {'cv_id': cv_id, 'layout': layout, 'format': format }) }}" method="post" class="form ajax" {{ form_enctype(form) }}>

                        {{ form_errors(form) }}

                        <br/>
                        <div class="row-fluid">

                            {{ form_row(form.cv) }}
                            {{ form_row(form.user) }}
                            {{ form_row(form.receiver_name) }}
                            {{ form_row(form.receiver_email) }}
                            {{ form_row(form.subject) }}
                            {{ form_row(form.message) }}

                        </div>

                        <div class="bottom-bar">
                            <div class="bottombar-inner">
                                <input type="submit" class="btn btn-primary" value="{% trans %}Senden{% endtrans %}" />
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="span6">
                    <br/>
                    <iframe src="{{ path('_cv_generate', {'cv_id': cv_id, 'layout': layout, 'format': 'pdf', 'inline': 1 }) }}" width="100%" height="450"></iframe>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        if (window.parent.$('.modal-body')) {
            window.parent.$('.modal-body').removeClass('modal-loading');
        }
    </script>
{% endblock %}