<div class="span6">
    {{ form_row(form.sortPosition) }}
    {{ form_row(form.title) }}
    {#{{ form_row(form.skills) }}#}
    {{ form_row(form.school) }}
    {{ form_row(form.level) }}
    {#{{ form_row(form.schoolAddress) }}#}
    {#{{ form_row(form.schoolZip) }}#}
    {#{{ form_row(form.schoolCity) }}#}
    {#{{ form_row(form.schoolCountry) }}#}
    {#{{ form_row(form.schoolBranch) }}#}
</div>

<div class="span6">
    {{ form_row(form.dateFrom) }}
    {{ form_row(form.dateTo) }}

    {{ form_rest(form)  }}
</div>
