{% extends 'CvCreatorBundle::layout_modal.html.twig' %}

{% block body %}
    <div class="span8">
        <br /><br/><br/><br/>
        <div class="alert alert-success">{% trans %}Daten erfolgreich gespeichert. Bitte warten Sie ein Augenblick, das Fenseter wird automatisch geschlossen.{% endtrans %}</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        try {
            if ($(parent.document).find('#section-{{ part_type }}{{ section.id }}').length) {
                var redirectPath = '{{ asset(path('_cv_add_item', {'cv_id': cv_id, 'part_type': section.formName, 'section_id': section.id })) }}';
                {% if section.multiple and redirectToAdd is defined and redirectToAdd == true %}
                    $('#section-{{ part_type }}{{ section.id }}', parent.document).updateCvSection(redirectPath);
                {% else %}
                    $('#section-{{ part_type }}{{ section.id }}', parent.document).updateCvSection();
                {% endif %}
            } else {
                location.reload();
            }
        } catch(e) {}
    </script>
{% endblock %}