{% extends 'CvCreatorBundle::layout_modal.html.twig' %}
{% block body %}
    <div class="span8">
        <form action="{{ path('_cv_save_item', {'cv_id': cv_id, 'part_type': part_type, 'section_id': section.id, 'part_id': part_id}) }}" method="post" class="form ajax" {{ form_enctype(form) }}>


            {{ form_errors(form) }}

            <br/>
            <div class="row-fluid" style="margin-bottom: 50px">

            {% include "CvCreatorBundle:Form:cv_" ~ part_type ~ ".html.twig" %}

            </div>

            <div class="bottom-bar">
                <div class="bottombar-inner">
                    <input type="submit" class="btn btn-primary" name="save" value="{% trans %}Speichern{% endtrans %}" />
                    <input type="submit" class="btn btn-primary" name="save_and_insert" value="{% trans %}Speichern & hinzufügen{% endtrans %}" />
                    <div class="clearfix"></div>
                </div>
            </div>

        </form>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        if (window.parent.$('.modal-body')) {
            window.parent.$('.modal-body').removeClass('modal-loading');
        }

    </script>
{% endblock %}