<div class="span6">
    {{ form_row(form.sortPosition) }}
    {{ form_row(form.passphoto) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.martialStatus) }}
    {{ form_row(form.address) }}
    {{ form_row(form.zip) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
</div>

<div class="span6">
    {{ form_row(form.mobile) }}
    {{ form_row(form.fax) }}
    {{ form_row(form.web) }}
    {{ form_row(form.addContactData) }}
    {{ form_row(form.nationality) }}
    {{ form_row(form.secondNationality) }}
    {{ form_row(form.driverLicense) }}
    {{ form_row(form.noticePeriod) }}
    {{ form_row(form.hobbies) }}

    {{ form_rest(form)  }}
</div>
<br /><br /><br/>

