<div class="span6">
    {{ form_row(form.sortPosition) }}
    {{ form_row(form.name) }}
    {{ form_row(form.company) }}
</div>

<div class="span6">
    {{ form_row(form.contactData) }}

    {{ form_rest(form)  }}
</div>