{% extends 'CvCreatorBundle::layout_modal.html.twig' %}
{% block body %}
    <div class="span8">

        {% if status == 'saved' %}
            <br /><br/><br/><br/>
            <div class="alert alert-success">{% trans %}Daten erfolgreich gespeichert. Bitte warten Sie ein Augenblick, das Fenseter wird automatisch geschlossen.{% endtrans %}</div>
        {% else %}
            <form action="{{ path('_cv_section_edit', {'cv_id': cv_id, 'section_id': section_id}) }}" method="post" class="form ajax" {{ form_enctype(form) }}>

                {{ form_errors(form) }}

                <br/>
                <div class="row-fluid">

                    <div class="span6">
                        {{ form_row(form.title) }}

                        {{ form_rest(form)  }}
                    </div>

                </div>

                <div class="bottom-bar">
                    <div class="bottombar-inner">
                        <input type="submit" class="btn btn-primary" value="{% trans %}Speichern{% endtrans %}" />
                        <div class="clearfix"></div>
                    </div>
                </div>

            </form>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    {% if status == 'saved' %}
        if ($('#section-title{{ section_id }}', parent.document).length) {
            $('#section-title{{ section_id }}', parent.document).updateCvSection();
            window.parent.$('.modal').modal('hide');
        } else {
            parent.document.location.reload();
        }
    {% else %}
        if (window.parent.$('.modal-body')) {
            window.parent.$('.modal-body').removeClass('modal-loading');
        }
    {% endif %}
    </script>
{% endblock %}