<div class="span6">
    {{ form_row(form.sortPosition) }}
    {{ form_row(form.profession) }}
    {{ form_row(form.employment) }}
    {{ form_row(form.company) }}
    {#{{ form_row(form.companyAddress) }}#}
    {#{{ form_row(form.companyCity) }}#}
    {#{{ form_row(form.companyZip) }}#}
    {#{{ form_row(form.companyCountry) }}#}
    {#{{ form_row(form.companyBranch) }}#}
</div>

<div class="span6">
    {{ form_row(form.stillWorking) }}
    {{ form_row(form.dateFrom) }}
    {{ form_row(form.dateTo) }}
    {{ form_row(form.activities) }}

    {{ form_rest(form)  }}
</div>