{% block checkboxes_widget %}
    {% spaceless %}
        {% if expanded %}
            {% for item in form %}
                <label class="checkboxes-widget">{{ form_widget(item) }} {{ item.vars['label']|trans }}</label>
            {% endfor %}
            <p class="clearfix"></p>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-error">
                <ul class="error_list">
                {% for error in errors %}
                    <li>{{
                        error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                        }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
