{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-error">
                {% for error in errors %}
                    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}

{#
{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-error">
            {% for error in errors %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators')~'. ' }}<br/>
            {% endfor %}
        </div>
    {% endif %}
{% endblock form_errors %}
#}