{% extends 'CvCreatorBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="span3"></div>
        <div class="span9"><img style="margin-top: 5px; margin-left:20px;" src="{{ asset('bundles/cv/images/cv_form_head_banner.jpg') }}" alt="" /></div>
    </div>



    <div class="row">
        <div class="span3">
            {% include "CvCreatorBundle:Cv:Create/sidebar.html.twig" %}
        </div>
        <div class="span9 pull-right">
            {% if error %}
                {{ error }}
            {% endif %}

            {% for section in sections %}
                {% include "CvCreatorBundle:Cv:Create/section_head.html.twig" with { form: section.formView } %}
                {% include "CvCreatorBundle:Cv:Create/section.html.twig" with { form: section.formView } %}
            {% endfor %}

            <br style="clear:both" />
            <a class="btn pull-right" href="javascript:void(0)" onclick="$(this).openModal();" data-toggle="modal"
               url="{{ path('_cv_section_edit', { 'cv_id': cv_id, 'section_id': 0 }) }}"
               data-modal-title="{% trans %}Bereich hinzufügen{% endtrans %}">{% trans %}Bereich hinzufügen{% endtrans %}</a>
            <br style="clear:both" />
            <br/>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript" src="{{ asset('bundles/cv/js/modal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cv/js/cv.js') }}"></script>

    {% endblock %}
{% endblock %}