<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="cv-container">
    {% for section in sections %}
        {% if section.items|length %}
            {% include "CvCreatorBundle:Cv:Generate/" ~ layout ~ "/" ~ section.formName ~ ".html.twig" with { section: section } %}
        {% endif %}
    {% endfor %}
</div>
</body>
</html>
