{% extends 'CvCreatorBundle::layout_preview.html.twig' %}

{% block body %}
    <div class="span10">
        <form action="{{ path('_cv_generate', {'cv_id': cv_id, 'layout': layout, 'format': format }) }}" accept="" target="_blank">

        {% for section in sections %}
            {% include "CvCreatorBundle:Cv:Preview/Standard/section_head.html.twig" with { form: section.formView } %}
            {% include "CvCreatorBundle:Cv:Preview/Standard/section.html.twig" with { form: section.formView } %}
        {% endfor %}

            .bottom-bar { position:fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-top: 1px solid #eee; height: 10%; }
            .bottombar-inner {  }
            .bottombar-inner input, .bottombar-inner button {  }

        <div style="position:fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-top: 1px solid #eee; height: 10%;">
            <div style="padding: 5px;">
                <input type="submit" class="btn btn-primary" value="{% trans %}Generieren{% endtrans %}" style="float: right; margin-right:10px" />
            </div>
        </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/cv/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cv/js/cv.js') }}"></script>
    <script>
        if (window.parent.$('.modal-body')) {
            window.parent.$('.modal-body').removeClass('modal-loading');
        }
    </script>
{% endblock %}