{% trans %}Hallo{% endtrans %} {{ name }}

{% trans %}Kontakt aus dem Formular{% endtrans %}

{% trans %}Name:{% endtrans %} {{ name }}
{% trans %}E-Mail:{% endtrans %} {{ email }}
{% trans %}Nachricht:{% endtrans %} {{ message }}


{% trans with {'%base_site_title%' : base_site_title} %}Freundliche Grüsse
Ihr %base_site_title% Team{% endtrans %}
