{% trans %}Hallo{% endtrans %} {{ name }} <br />
{% trans %}Kontakt aus dem Formular{% endtrans %}<br /><br />
{% trans %}Name:{% endtrans %} {{ name }}<br />
{% trans %}E-Mail:{% endtrans %} {{ email }}<br />
{% trans %}Nachricht:{% endtrans %} {{ message }}<br /> <br />

{% trans %}Freundliche Grüsse{% endtrans %}<br />
{% trans with {'%base_site_title%' : base_site_title} %}Ihr %base_site_title% Team{% endtrans %}
