{% trans %}Hallo{% endtrans %} {{ name }}

{% trans with {'%base_domain%' : base_domain} %}Ein neues Passwort für ihren Konto auf %base_domain% angefordert.{% endtrans %}

{% trans %}Ihr Benutzername:{% endtrans %} {{ username }}

{% trans %}Ihr Passwort können Sie auf die folgende Web-Adresse ändern: {% endtrans %} {{ url('_new_password', {'user_id': user_id, 'password_reset_code': reset_code }) }}">

{% trans with {'%base_site_title%' : base_site_title} %}Freundliche Grüsse
Ihr %base_site_title% Team{% endtrans %}