{% trans %}Hallo{% endtrans %} {{ name }} <br /><br/>
{% trans %}Ein neues Passwort für ihren Konto auf cvcreator.ch angefordert.{% endtrans %}<br /><br />
{% trans %}Ihr Benutzername:{% endtrans %} {{ username }}<br/><br/>
{% trans %}Ihr Passwort können Sie auf die folgende Web-Adresse ändern: {% endtrans %} <a href="{{
    url('_new_password', {'user_id': user_id, 'password_reset_code': reset_code }) }}">{{
    url('_new_password', {'user_id': user_id, 'password_reset_code': reset_code }) }}</a><br /></br />

{% trans with {'%base_site_title%' : base_site_title} %}Freundliche Grüsse
Ihr %base_site_title% Team{% endtrans %}
