{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}
    <div class="span4 pull-left"><img src="{{
        path('_cv_get_attachment', { 'cv_id': item.cv.id, 'attachment_id': item.id, 'thumb': 1 }) }}" style="max-height:200px; max-width:150px; cursor:pointer;"
        onclick="var attachmentWindow = window.open('{{
        path('_cv_get_attachment', { 'cv_id': item.cv.id, 'attachment_id': item.id, 'thumb': 0 }) }}', 'attachment_{{ item.id }}', 'width=600,height=600,scrollbars=yes'); attachmentWindow.focus()" /> </div>
    <div class="span6 pull-left" style="padding-top: 10px;">
       {{ item.uploadName }} <br/>
       <i>{{ section.form.attachmentTypes[item.type]|trans }}</i>
    </div>
{% endblock %}
