{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}
    <div class="span4">
        {{ item.title }}<br />
    </div>

    <div class="span6">
        {{ item.description }} <br />
    </div>
{% endblock %}
