{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}

    <div class="span4 pull left">
        {{ item.dateFrom|date('m.Y') }} - {{ item.dateTo|date('m.Y') }}  <br />
    </div>

    <div class="span6 pull left">
        {{ item.title }} <br />
        {% if item.school is not empty %}{% trans %}Schule{% endtrans %}: {{ item.school }} <br />{% endif %}
    </div>
{% endblock %}