{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}
    <div class="span4">{{ item.language }}</div>
    <div class="span6">{{ section.form.languageLevels[item.rating]|trans }}</div>
{% endblock %}