{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}

    <div class="span4 pull left">
        <div class="imageUpload">
            {% if item.passphoto is not empty and item.passphoto.uploadName is not empty %}
                <button type="button" class="btn btn-small image-remove-button" data-width="900" onclick="
                    $(this).deleteCvPart('personaldata');" data-url="{{
                        path('_cv_delete_part', {'cv_id': cv_id, 'part_type': 'attachment', 'section_id': section.id, 'part_id': item.passphoto.id })
                    }}" style="position:absolute"><i class="icon-trash"></i></button>
                <img src="{{ path('_cv_get_attachment', { 'cv_id': item.cv.id, 'attachment_id': item.passphoto.id, 'thumb': 1 }) }}"  alt="" />
            {% else %}
                <img src="{{ asset('bundles/cv/images/noimage.png') }}"  alt="" />
            {% endif %}
        </div>
    </div>
    <div class="span6 pull-left">
        {{ item.firstname }} {{ item.lastname }}
        {% if item.birthday %}, {% trans %}geboren{% endtrans %} {{ item.birthday|date('d.m.Y') }}  <br /> {% endif %}
        {% if item.address %} {{ item.address }} <br /> {% endif %}
        {% if item.zip %}{{ item.zip }} {{ item.city }}, {{ item.country }}  <br />   {% endif %}
        {% if item.phone %}{{ item.phone }}   <br />  {% endif %}
        {% if item.mobile %} {{ item.mobile }}, {{ item.fax }} <br />  {% endif %}
        {% if item.web %}{{ item.web }}  <br />  {% endif %}
        {% if item.addcontactdata %} {{ item.addcontactdata }}   <br />  {% endif %}
        {% if item.email %} {{ item.email }} <br />  {% endif %}
    </div>
{% endblock %}