{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}
    <div class="span4">{{ item.name  }}</div>
    <div class="span6">{{ item.company }} <br/>
        {{ item.contactData }}
    </div>
{% endblock %}
