<div class="cvFormSectionDiv">
    <div class="btn-group pull-right section-part-buttons">
        {% if section.items|length > 1 %}
            {% if loop.index > 1 %}
            <button type="button" class="btn btn-small" onclick="$(this).moveCvPart('{{ section.formName }}{{ section.id }}');"
               data-url="{{ path('_cv_move_section_part', { 'cv_id': cv_id, 'part_type': section.formName,
                            'section_id': section.id, 'part_id': item.id, 'way': 'up' }) }}" ><i class="icon-arrow-up"></i></button>
            {% endif %}
            {% if loop.index < section.items|length %}
            <button type="button" class="btn btn-small" onclick="$(this).moveCvPart('{{ section.formName }}{{ section.id }}');"
               data-url="{{ path('_cv_move_section_part', { 'cv_id': cv_id, 'part_type': section.formName,
                            'section_id': section.id, 'part_id': item.id, 'way': 'down' }) }}" ><i class="icon-arrow-down"></i></button>
            {% endif %}
        {% endif %}

        <button type="button" class="btn btn-small" onclick="$(this).openModal();" data-height="500"
           url="{{ path('_cv_edit_item', {'cv_id': cv_id, 'part_type': section.formName, 'section_id': section.id, 'part_id': item.id}) }}"
           data-modal-title="{{ section.title }}" data-toggle="modal"><i class="icon-pencil"></i></button>

        {% if section.multiple %}
            <button type="button" class="btn btn-small" onclick="$(this).deleteCvPart('{{ section.formName }}{{ section.id }}')"
                    data-url="{{ path('_cv_delete_part', {'cv_id': cv_id, 'part_type': section.formName, 'section_id': section.id, 'part_id': item.id }) }}" ><i class="icon-trash"></i></button>
        {% endif %}
    </div>

    <div class="row-fluid">
    {% block item %}{% endblock %}
    </div>
</div>