<div class="cv-section-body collapse in" id="section-{{ section.formName }}{{ section.id }}"
     data-update-url="{{ path('_cv_get_section', { 'part_type': section.formName, 'cv_id': cv_id, 'section_id': section.id }) }}">


{% if section.items|length %}
    {% for item in section.items %}
        {% include "CvCreatorBundle:Cv:Create/" ~ section.formName ~ ".html.twig" %}
    {% endfor %}
{% else %}
    <div class="alert alert-block">
        <h5>{% trans %}Keine Daten!{% endtrans %}</h5>
        {% trans %}Sie haben keine Daten erfasst! Bitte fügen Sie neue Daten mit dem Plus Icon oben Rechts von diesem Block hinzu.
        Um die Buttons zu sehen bewegen Sie bitte die Maus über die gestreifte Linie.{% endtrans %}
    </div>
{% endif %}
</div>
