<div class="row-fluid" id="section-head-{{ section.formName }}{{ section.id }}">
    <br />
    <div class="greyline">
        <span id="section-title{{ section.id }}" class="bg-transparent clickable"
              onclick="$(this).parent().parent().next('.cv-section-body').collapse('toggle');"
              data-update-url="{{ path('_cv_update_section_title', { 'cv_id': cv_id, 'section_id': section.id }) }}">{{ section.title }} &nbsp;</span>

        <div class="bg-transparent pull-right">
            <div class="btn-toolbar">
                <div class="btn-group">{{ section_id }}
                    {% if section.id != 0 %}
                    <a class="btn btn-small" href="javascript:void(0)" onclick="$(this).openModal();" data-toggle="modal"
                       url="{{ path('_cv_section_edit', { 'cv_id': cv_id, 'section_id': section.id }) }}"
                       data-modal-title="{{ section.title }}"><i class="icon-pencil"></i></a>
                        {#<a class="btn btn-small" href="javascript:void(0)" data-toggle="modal" data-width="900"#}
                        {#url="{{ path('_cv_delete_section', {'cv_id': cv_id, 'part_type': section.formName, 'section_id': section.formName }) }}" ><i class="icon-trash"></i></a>#}
                    {% endif %}

                    {% if section.multiple %}
                        <a class="btn btn-small" href="javascript:void(0)" onclick="$(this).openModal();" data-toggle="modal"
                           url="{{ path('_cv_add_item', {'cv_id': cv_id, 'part_type': section.formName, 'section_id': section.id }) }}"
                           data-modal-title="{{ section.title }}"><i class="icon-plus"></i></a>


                    {% endif %}

                    {% if section.movable and section.id != 0 %}
                        {% if loop.index > 2 %}
                        <a class="btn btn-small" href="javascript:void(0)" onclick="$(this).moveCvSection();" data-toggle="modal"
                           data-url="{{ path('_cv_move_section', { 'cv_id': cv_id, 'section_id': section.id, 'way': 'up' }) }}" ><i class="icon-arrow-up"></i></a>
                        {% endif %}

                        {% if loop.index < (sections|length - 1) %}
                        <a class="btn btn-small" href="javascript:void(0)" onclick="$(this).moveCvSection();" data-toggle="modal"
                           data-url="{{ path('_cv_move_section', { 'cv_id': cv_id, 'section_id': section.id, 'way': 'down' }) }}" ><i class="icon-arrow-down"></i></a>
                        {% endif %}
                    {% endif %}

                    {% if section.formName == 'customsectionitem' %}
                        <a class="btn btn-small" href="javascript:void(0)" data-toggle="modal" onclick="$(this).deleteCvSection('{{ section.formName }}{{ section.id }}')"
                            data-url="{{ path('_cv_delete_section', {'cv_id': cv_id, 'section_id': section.id }) }}" ><i class="icon-trash"></i></a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
