
<div class="generateSidebar">
    <div class="innerbox">
        <form action="javascript:void(0)" method="post" name="generateForm" id="generateForm">

            <div class="greyline">
                <span class="bg-transparent">{% trans %}Layout{% endtrans %}&nbsp;</span>
            </div>

            <label><input type="radio" name="layout" value="standard" checked="checked" /> {% trans %}Standard{% endtrans %}</label>
            <label><input type="radio" name="layout" value="elegant" /> {% trans %}Elegant{% endtrans %}</label>
            <label><input type="radio" name="layout" value="academic" /> {% trans %}Academic{% endtrans %}</label>

            <br/>

            <a href="javascript:void(0)" data-toggle="modal" role="button" class="btn btn-block"
               onclick="$(this).attr('url',
                       '{{ path('_cv_generate', {'cv_id': cv_id, 'layout': '-layout-', 'format': 'pdf', 'inline': 1 }) }}'
                            .replace('-layout-', $('input[name=layout]:checked', '#generateForm').val())
                        );
                        $(this).openModal();" url="" data-modal-title="{% trans %}CV Vorschau{% endtrans %}"
               data-width="940" data-height="600">
                <i class="icon-eye-open"></i>
                {% trans %}Vorschau{% endtrans %}</a>
            <br/>

            <div class="greyline hidden-phone">
                <span class="bg-transparent">{% trans %}Generieren{% endtrans %}&nbsp;</span>
            </div>

            <br/>

            <a href="javascript:void(0)" role="button" class="btn btn-primary btn-block hidden-phone"
               onclick="$(this).attr('href', '{{ path('_cv_generate', {'cv_id': cv_id, 'layout': '-layout-', 'format': 'pdf', 'inline': 0 }) }}'
                            .replace('-layout-', $('input[name=layout]:checked', '#generateForm').val())
                        );" data-modal-title="{% trans %}CV generieren{% endtrans %}"
               data-width="940" data-height="600">
                <i class="icon-envelope icon-white"></i>
                <i class="icon-print icon-white"></i>
                {% trans %}PDF{% endtrans %}
            </a>

            <br/>

            <a href="javascript:void(0)" role="button" class="btn btn-primary btn-block hidden-phone"
               onclick="$(this).attr('href', '{{ path('_cv_generate', {'cv_id': cv_id, 'layout': '-layout-', 'format': 'rtf', 'inline': 0 }) }}'
                            .replace('-layout-', $('input[name=layout]:checked', '#generateForm').val())
                        );" data-modal-title="{% trans %}CV generieren{% endtrans %}">
                <i class="icon-pencil icon-white"></i>
                <i class="icon-print icon-white"></i>
                {% trans %}RTF{% endtrans %}
            </a>

            <p class="clearfix hidden-phone" ></p>
            <br/>

            <div class="greyline">
                <span class="bg-transparent">{% trans %}Senden{% endtrans %}&nbsp;</span>
            </div>

            <br/>

            <a href="javascript:void(0)" data-toggle="modal" role="button" class="btn btn-block"
               onclick="$(this).attr('url', '{{ path('_cv_application', {'cv_id': cv_id, 'layout': '-layout-', 'format': 'pdf' }) }}'
                       .replace('-layout-', $('input[name=layout]:checked', '#generateForm').val())
                       ); $(this).openModal();" data-width="980" data-height="600" url=""
               data-modal-title="{% trans %}Bewerbung senden{% endtrans %}">
                <i class="icon-envelope"></i>
                {% trans %}Als PDF senden{% endtrans %}
            </a>

            <p class="clearfix" ></p>

        </form>
    </div>
</div>

{# Modal #}
<div class="modal hide fade" id="generateModal" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
