{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}

    <div class="span4 pull left">
        {{ item.dateFrom|date('m.Y') }} - {{ item.dateTo|date('m.Y') }}
    </div>
    <div class="span6 pull-left">
        {{ item.profession }}{% if item.employment is not empty %} ({{ section.form.employments[item.employment]|trans }}){% endif %}<br/>
        {% if item.company is not empty %}Firma: {{ item.company }}<br/>{% endif %}
        {% if item.activities is not empty %}{% trans %}Aktivitäten{% endtrans %}: {{ item.activities }}{% endif %}
    </div>

{% endblock %}