{% extends 'CvCreatorBundle:Cv:Create/section_part.html.twig' %}

{% block item %}
    <div class="span4">{{ item.skill }}</div>
    <div class="span6">{{ section.form.ratings[item.rating]|trans }}</div>
{% endblock %}