/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*-------------------------------------------------------*/
/*--------------- - MAIN TYPOGRAPHY CSS - ---------------*/
/*-------------------------------------------------------*/
a {
	text-decoration:none;
	color:#333333;
}
a:hover {
	text-decoration:none;
	color:#db1010;
}
a img {
	border:none;
}
strong {
	font-weight:bold;
	color:#252525;
}
p,ul,ol,pre,code {
	margin-bottom:10px;
}
.white {
	color:#FFF;
}
a img,img {
	border:none;
}
strong {
	font-weight:bold;
	color:#252525;
}
p,ul,ol,pre,code {
	margin-bottom:10px;
}
.colored {
	color:#191919;
}
ul {
	list-style-type:none;
}
ol {
	list-style-type:decimal;
	list-style-position:inside;
}
blockquote {
	padding:5px 20px 5px 55px;
	line-height:24px;
	background:url(../images/quote.png) no-repeat top left;
	color:#999999;
}
blockquote span {
	color:#666666;
}
pre,code {
	border:1px solid #efefef;
	border-left:5px solid #efefef;
	display:block;
	padding:10px;
	font-size:11px;
	font-family:monospace;
	background-color: #f5f5f5;
} 

/*-------------------------------------------------------*/
/*--------------- - Sticky Footer CSS   - ---------------*/
/*-------------------------------------------------------*/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
    background: url(../images/bg_big.jpg);
    position: relative;
}

.wrapper {
    width: 960px;
    margin: auto;
    font-family: arial;
    color: #333333;
}

.footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}

#footer a {
    color: #bfbfbf;
    text-decoration: none;
    margin-right: 20px;
}

#footer a:hover {
    color: #bfbfbf;
    text-decoration: underline;
}

#footer p {
    font-size: 90%;
}

#head-navi-background {
    width: 100%;
    height: 48px;
    background-color: black;
    background: url(../images/head_navi_bg.jpg);
    background-repeat:repeat-x;
}

/*-------------------------------------------------------*/
/*--------------- - Header Navigation   - ---------------*/
/*-------------------------------------------------------*/
header{
    display: block;    
}

#menubar {
    display:table;
    content:"";
}

nav, #menu {
    display:block; 
}

.menu {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    
}

#menu a {
    color: #f3f3f3;
}

.menu li {
    position: relative;
}

#header #menubar #menu .menu-level1 {
    float: left;
    margin-top:5px;
    padding: 12px 16px 0px 12px;
    height: 28px;
    background: url(../images/head_navi_vertikal_line.jpg);
    background-repeat: repeat-y;

}

#header #menubar .menu-level2 {
    float: right;
    margin-top:5px;
    padding: 5px 5px 0px 5px;
    font-size: 80%;
}



#header #menubar #menu .menu-level1 a {
    padding-left: 5px;
    padding-bottom: 10px;
    opacity: 0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

#header #menubar #menu .menu-level1 a i {
    padding-right: 5px;
}

#header #menubar #menu .menu-level1 a:hover, #header #menubar #menu li.active a {
    opacity: 1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}


#header #menubar #menu .menu-level1 a.home {
    background-color: transparent;
    background: url(../images/head_navi_home_icon.jpg);
    background-repeat: no-repeat;
}

#header #menubar #menu .menu-level1 a.help {
    background: url(../images/head_navi_help_icon.jpg);
    background-repeat: no-repeat;
}

#header #menubar #menu .menu-level1 a.login {
    background: url(../images/head_navi_login_icon.jpg);
    background-repeat: no-repeat;
}

#header #menubar #menu .menu-level1 a.profile {
    background: url(../images/head_navi_profile_icon.jpg);
    background-repeat: no-repeat;
}

#head-navi-background #header #menubar {
    float: right;
}

#header:after, .wrapper:after, .wrapper:before, .block:after, .block:before {
    content: "";
    display: table;
}

#logo {
    position: absolute;
    background: url(../images/logo_bg.png) no-repeat scroll 0 -50px transparent;
    background-repeat: no-repeat;
    height: 192px;
}

#logo #site-logo {
    background: url(../images/cv-logo.png) no-repeat;
    width: 90px;
    height: 100px;
    float:left;
    margin-left:67px;
    margin-top:15px;
    cursor: pointer;

}

#logo span.logo-beta-text {
    position:absolute;
    color: red;
    margin-top: -3px;
    margin-left: 90px;
    font-weight: bold;
    font-family: gudea;
    font-size: 0.8em;
}

#logo span.logo-text {
    position: absolute;
    color: #0079c2;
    margin-top: 65px;
    margin-left: 0px;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: gudea;
    width: 90px;
    text-align: center;
}


#login {
    float:right;
}

footer, #footer {
    background-color: black;
    height: 60px;
    color: #585656;
}

#footer p {
    margin-top: 20px;
    margin-left: 10px;
}

div.pre-footer {
    /* background: url(../images/bottom_dark_bg.jpg); */
    background: url(../images/bg_big.jpg);
    background-repeat: repeat-x;
    background-position:right bottom;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */

}

.greyline {
    clear:both;
    background: url(../images/grey_line3.png) repeat-x;
    background-position:center;
    height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.greyline div {
    padding: 0px 0px 0px 1px;
}

.greyline div img {
    position: absolute;
    margin-left: 5px;
    margin-top: -3px;
}

.greyline .bg-transparent {
    background: url(../images/bg_big.jpg);
    color: #66cc33;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
}

.greyline .btn-toolbar {
    margin-top: -10px;

}

.cvFormSectionDiv .btn-group, .cvFormSectionDiv .image-remove-button {
    display:none;
}
.cvFormSectionDiv:hover .btn-group, .cvFormSectionDiv:hover .image-remove-button {
    display:block;
}

.cvFormSectionDiv {
    padding: 5px;
}

.cvFormSectionDiv:hover {
    border: 1px solid #e0e0e0;
    -moz-box-shadow:    inset 0 1px 3px #d3d3d3;
    -webkit-box-shadow: inset 0 1px 3px #d3d3d3;
    box-shadow:         inset 0 1px 3px #d3d3d3;
}

.cvFormSectionDiv .btn-group {
    /*position: absolute;*/
    margin-top: -6px;
    margin-right: -6px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: underline;
}

/*-------------------------------------------------------*/
/*--------------- - Partners CV Creator   - ---------------*/
/*-------------------------------------------------------*/

#box_style_space{
	float:left;
	width:100%;
	height:auto;
}
.box{
	float:left;
	width:178px;
	height:78px;
	background:#fff;
	border:1px solid #d5d5d5;
	margin:0 18px 50px 18px;
	overflow:hidden;
	padding:10px;
}


#left-content{
    float: left;
}

#right-content{
    float: right;
}



.generateSidebar {
    border: 10px solid #f3f3f3;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius:5px; /* Safari, Chrome */
    -khtml-border-radius:5px; /* Konqueror */
    border-radius:5px; /* CSS3 */
    background: #f3f3f3;
}

.generateSidebar .innerbox {
    border: 1px solid #c8c8c8;
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius:5px; /* Safari, Chrome */
    -khtml-border-radius:5px; /* Konqueror */
    border-radius:5px; /* CSS3 */
    padding: 5px;
    background: #ffffff;
    line-height: 120%;
}

.generateSidebar .innerbox .greyline div {
    color: #333333;
    margin-left: 15px;
    background: #fff;
}

.generateSidebar .innerbox .greyline div img {
    margin-bottom: -3px;
}

.generateSidebar .innerbox label {
    margin: 10px 5px 10px 5px;
    color: #818285;
    clear:both;
}


/* Accordion */
#accordionContainer { padding-left:50px; margin-left:30px; margin-top:30px; background: url(../images/home-slider-bottom-shadow.png) 0 100% no-repeat;}
#accordion {width:800px;height:300px;padding-bottom:10px;}
#accordion dl{width:800px;height:300px;background-color:#fff;}
#accordion dt {top:127px;margin-left:-125px;height:46px;line-height:44px;text-align:right;padding:0 15px 0 0;font-size:1.0em;border:1px solid #727272; margin-bottom:-100px;
    font-weight:bold;letter-spacing:1px;color:#fff;
    font-family: helvetica, Tahoma, Verdana;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f6064', endColorstr='#a9b4c3'); /* for IE */
    background: -webkit-gradient(linear, left top, right top, from(#5f6064), to(#a9b4c3)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #5f6064,  #a9b4c3); /* for firefox 3.6+ */

}
#accordion dt.active{cursor:pointer;color:#fff;
    font-family: helvetica;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#1eaaff'); /* for IE */
    background: -webkit-gradient(linear, left top, right top, from(#0079c2), to(#1eaaff)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #0079c2,  #1eaaff); /* for firefox 3.6+ */
}
#accordion dt.hover{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#539636', endColorstr='#97e376'); /* for IE */
    background: -webkit-gradient(linear, left top, right top, from(#539636), to(#97e376)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #539636,  #97e376); /* for firefox 3.6+ */}
#accordion dt.active.hover{color:#fff}
#accordion dd{padding:25px;border:1px solid #dbe9ea;border-left:0;margin-right:0px}
#accordion .slide-number{color:#fff;left:10px;font-weight:bold}
#accordion .active .slide-number{color:#fff;}
#accordion a{color:#68889b}
#accordion dd img{float:right;margin:0 0 0 30px;}
#accordion h2{font-size:2.5em;margin-top:10px}
#accordion .more{padding-top:10px;display:block}

/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */
.easy-accordion h2{margin:0px 0 20px 0;padding:0;font-size:1.6em;}
.easy-accordion{display:block;position:relative;overflow:hidden;padding:0;margin:0}
.easy-accordion dt,.easy-accordion dd{margin:0;padding:0}
.easy-accordion dt,.easy-accordion dd{position:absolute}
.easy-accordion dt{margin-bottom:-100; margin-left:0;z-index:5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px;  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);cursor:pointer;}
.easy-accordion dd{z-index:1;opacity:0;overflow:hidden; background:#fff;}
.easy-accordion dd.active{opacity:1;}
.easy-accordion dd.no-more-active{z-index:2;opacity:1}
.easy-accordion dd.active{z-index:3}
.easy-accordion dd.plus{z-index:4}
.easy-accordion .slide-number{position:absolute;bottom:0;left:10px;font-weight:normal;font-size:1.8em; letter-spacing: 1px;color:#fff;}

/* showing the wait animation at modal */
.modal-loading { z-index :1000; background: rgba(0, 0, 0, .8 ) url(../images/wait.gif) 50% 50% no-repeat; opacity: 0.8; filter: alpha(opacity=80);  }

.modal-body { padding: 0; overflow: hidden; }

#ajaxloader-container .ajaxloader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the loader gif */
    margin-top: -50px; /* half height of the loader gif */
    text-align:center;
    z-index:9999;
    overflow: auto;
    width: 100px; /* width of the loader gif */
    height: 102px; /*hight of the loader gif +2px to fix IE8 issue */
    background: url(../images/wait.gif) 50% 50% no-repeat;
}

#ajaxloader-container {
    background: rgba(0, 0, 0, .8 );
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-bar { position:fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-top: 1px solid #eee; height: 10%; }
.bottombar-inner { padding: 5px; }
.bottombar-inner input, .bottombar-inner button { float: right; margin-right:10px }

.layout-modal-container { width: 100%; }

.imageUpload {
    display: inline-block;
    text-align:center;
    border: 10px solid #f3f3f3;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    background-color: #fff;
}

.image-upload-remove {

}

.imageUpload img {
    max-width: 180px;
    max-height: 200px;
    margin: 0;
}

label.checkboxes-widget {
    float:left;
    width: inherit;
    min-width: 50px;
    margin-right: 20px;
}

label.checkboxes-widget input {
    margin: -3px 0 0 0;
}

@media (max-device-width: 767px) {
    /*Iphone portrait and smaller*/
    .row-fluid .btn-toolbar, .cvFormSectionDiv .btn-group, .cvFormSectionDiv .image-remove-button {
        display:block !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }
    .visible-desktop {
        display: none !important;
    }
    .visible-phone {
        display: inherit !important;
    }
    .hidden-phone {
        display: none !important;
    }
}

