
.bottom-bar { position:fixed; left: 0; right: 0; bottom: 0; background-color: #fff; border-top: 1px solid #eee; height: 40px; }
.bottombar-inner { padding: 5px; }
.bottombar-inner input, .bottombar-inner button { float: right; margin-right:10px }
.layout-preview-container { margin-bottom: 40px; }