<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>
    {% if section.items|length %}
        <table class="table-2col">
            {% for item in section.items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
