<div class="section">
    <div class="section-head">
        <p class="section-head-title">{{ section.title }}</p>
    </div>

    {% if section.items|length %}
    <table class="table-2col">
        {% for item in section.items %}
            <tr>
                <td>{{ item.dateFrom|date('m.Y') }} - {% if not item.dateTo %}{% trans %}heute{% endtrans %}{% else %}{{ item.dateTo|date('m.Y') }}{% endif %}</td>
                <td><p>{{ item.title }}{% if item.school %}, {{ item.school }}{% endif %}</p></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
