{% if section.items|length %}
    {% for item in section.items %}
    <div class="cv-head">
        <p style="font-size:14pt; letter-spacing:0.132cm; text-align:center; font-family:Garamond; ">{{ item.firstname }} {{ item.lastname }}</p>
        <p style="font-size:9pt; font-family:Garamond;   text-align:center;  letter-spacing:0.053cm; line-height: 15px;">
            • {{ item.address }} • {{ item.zip }} {{ item.city }} • {{ item.country }}
            {% if item.phone %} • {% trans %}Telefon{% endtrans %}: {{ item.phone }}{% endif %}
            {% if item.mobile %} • {% trans %}Mobile{% endtrans %}: {{ item.mobile }}{% endif %}
            {% if item.fax %} • {% trans %}Fax{% endtrans %}: {{ item.fax }}{% endif %}
            {% if item.email %} • {% trans %}MAIL{% endtrans %}: {{ item.email }}{% endif %}
            {% if item.web %} • {% trans %}Web{% endtrans %}: {{ item.web }}{% endif %}</p>
    </div>

    <div class="section">
        <div class="section-head">
            <p class="section-head-title">{{ section.title|capitalize }}</p>
        </div>

        <table class="table-2col">
            {% if item.birthday %}<tr><td>{% trans %}Geburtsdatum{% endtrans %}:</td><td>{{ item.birthday|date('d.m.Y') }}</td></tr>{% endif %}
            {% if item.nationality %}<tr><td>{% trans %}Nationalität{% endtrans %}:</td><td>{{ item.nationality }}</td></tr> {% endif %}
            {% if item.secondNationality %}<tr><td>{% trans %}Zweite Nationalität{% endtrans %}:</td><td>{{ item.secondNationality }}</td></tr> {% endif %}
            {% if item.martialStatus %}<tr><td>{% trans %}Zivilstand{% endtrans %}:</td><td>{{ section.form.martialStatusOptions[item.martialStatus]|trans }}</td></tr> {% endif %}
            {% if item.driverLicense %}<tr><td>{% trans %}Führerschein{% endtrans %}:</td><td>
                    {% set separator = '' %}
                    {% for driverLicenseValue in item.driverLicense %}
                        {{ separator }}{{ section.form.driverLicenseOptions[driverLicenseValue]|trans }}
                        {% set separator = ', ' %}
                    {% endfor %}
                </td></tr>
            {% endif %}
            {% if item.noticePeriod %}<tr><td>{% trans %}Kündigungsfrist{% endtrans %}:</td><td>{{ item.noticePeriod }}</td></tr> {% endif %}
            {% if item.hobbies %}<tr><td>{% trans %}Hobbys{% endtrans %}:</td><td>{{ item.hobbies }}</td></tr> {% endif %}
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
        </table>
        {% if item.passphoto is not empty and item.passphoto.uploadName is not empty %}
            <div style="position:absolute; left:12cm; top:7mm;">
                <img src="{{ item.passphoto.absolutepath }}" alt="Pass photo" width="100" height="150"/>
            </div>
        {% endif %}

    </div>
    {% endfor %}
{% endif %}
